html, body {
  height: 100%;
}
body {
  border-collapse: collapse;
  box-sizing: border-box;
  margin:0;
  padding: 0;
  background-color: #252728;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
*img {
  display: block;
}






/* espace logo end name */
/*.upOnNavigation*/
header {
  display: flex;
}
.logoImage {
  margin: 40px;
  width: 50px;
  height: 50px;
}
header div>p {
  color: #fff;
  font-size: 2em;
  margin-bottom: 0;
}
header div>a {
  text-decoration: none;
  color: #898e90;
}
header div:nth-of-type(3)>img {
  margin-left: 125px;
}





/* navigation */
nav {
  display: flex;
  color: #898e90;
  font-size: 1.3em;
  font-weight: lighter;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 10px 0 5px;
}
nav ul li {
  display: inline-block;
  cursor: pointer;
  width: 120px;
  text-align: center;
  padding: 5px;
}
nav ul li:active {
  color: #fff;
}  
nav ul li:hover {
  color: #fff;
}  
nav>ul>li>ul {
  padding-left: 0;
  display: none;
}






/* main section with fotos */

.mainContainerImage {
  display: flex;
  flex-direction: row;
  height: 105vh;
  overflow: hidden;
}
.mainContainerImage>div {
  width: 200px;
  margin: 10px 10px 0px 10px;
  position: relative;
}
.mainContainerImage>div>img {
  width: 100%;
}  
.mainContainerImage>div>div {
  z-index: 2;
  text-align: right;
}
.paysageTitre {
  align-self: flex-end;
  position: relative;
  top: 5px;
}
.architectTitre {
  align-self: flex-end;
  position: relative;
  top: 40px;
}
.natureTitre>div {
  position: absolute;
  top: 0;
  left: 100px;
  width: 220px;
  background-color: #177507;
}
.paysageTitre>div {
  position: absolute;
  bottom: 4px;
  left: 60px;
  width: 220px;
  background-color: #335676;
}
.streetTitre>div {
  position: absolute;
  bottom: 140px;
  width: 186px;
  background-color: #de7e00;
}
.architectTitre>div {
  position: absolute;
  bottom: 39px;
  right: 40px;
  width: 220px;
  background-color: #153350;
}
.objetTitre>div {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  background-color: #271350;
}  
/* .mainContainerImage>div:nth-of-type(2,4) {
  justify-content: flex-end;
}   */
.mainContainerImage>div>div>p {
  color: #fff;
  font-size: 2em;
  padding: 20px;
  margin: 0;
} 






/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #898e90;
  margin-top: 25px;
}
.footer>div>a {
  text-decoration: none;
  cursor: pointer;
  color: #898e90;  
}
.socialPanel>div>a>i {
  color: #252728;
}
.socialPanel {
  display: flex;
  flex-direction: row;
}
.socialPanel>div {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;  width: 25px;
  height: 25px;
  margin: 5px;
}




/* on the :end
*/
.hellofoto {
  width: 100%;
}
.hellofoto>img {
  display: block;
  width: 100%;
}